block stylesParticles
    link(rel="stylesheet" href="/css/footer.css")

footer.main-footer
    <iframe class="google-maps" title="Google maps Rozarios" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.3825855642326!2d19.38695831630484!3d51.74432730117232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a35654613f4ed%3A0xe8906e940452484e!2sRozario&#39;s!5e0!3m2!1spl!2spl!4v1643302155950!5m2!1spl!2spl" width="45%" style="border:0; border-top-right-radius: 35px;" allowfullscreen="" loading="lazy"></iframe>
    div.footer-content
        h3.title Kontakt
        div.info-wrapper
            p.info-item Al.Ks.Kard. Wyszyńskiego 67
            p.info-item 94-047 Łódź
            p.info-item tel.
                a(href="tel:+426890951" class="footer-link") 42 689 09 51 (52)
        div.socials-wrapper
            p.social-item mail:
                a(href="mailto:rozarios@rozarios.pl" class="footer-link") rozarios@rozarios.pl
            p.social-item instagram:
                a(href="#" class="footer-link") instagram.rozarios
        div.socials-media-wrappper
            a(href="https://www.facebook.com/Steakhouse-Rozarios-222267511282380/" target="_blank" class="link")
                i(class="fab fa-facebook-square")
            a(href="https://www.instagram.com/steakhouserozarios/" target="_blank" class="link")
                i(class="fab fa-instagram-square")
        div.author-wrapper
            h5.description Created by
                a(href="https://github.com/Cris281172" target="_blank" class="author")  Krzysztof Juczyński