doctype html
html(lang="pl")
    head
        meta(name="viewport" content="width=device-width")
        link(rel="preconnect" href="https://fonts.apis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        link(rel="shortcut icon" href="http://www.rozarios.pl/assets/themes/default/gfx/fav.ico")
        block pageTitle
        block stylesPartials
        block styles
    body
        include ../partials/opening-hours.pug
        header.main-header
            include ../partials/nav.pug
            block headerContent
        block menuContent
        block sliderContent
        block informationContent
        include ../partials/footer.pug
