link(rel="stylesheet" href="/css/information-layout.css")

section.information-section
    div.chef-image-wrapper
        img(src="../images/chef-image.jpg" alt="Chef image" class="chef-image")
    article.article-information
        h3.title Historia
        p.paragraph Restauracja Rozario's mieści się przy Al. Ks. Kard. Stefana Wyszyńskiego 67. Powstała w 1999 roku i bardzo szybko zdobyła uznanie zarówno wśród mieszkańców Retkinia jak i gości z najdalszych zakątków Łodzi.
        p.paragraph W Steakhouse Rozario's można zjeść najlepsze w Łodzi steki, dania BBQ oraz wyśmienitą pizzę. Wszystkie dania przygotowywane są na bieżąco, z najwyżeszej jakości produktów i z ogromną starannością na oczach naszych gości
        p.paragraph Połączenie dobrej kuchni oraz miłej obsługi gwarantują, iż czas spędzony u nas pozostanie długo w Państwa pamięci. Atmosfera lokalu przypadnie do gustu zarówno młodszym jak i starszym gościom. Każdy znajdzie tu coś dla siebie!
