extends layouts/deafult.pug

block pageTitle
    title Rozario's Steakhouse - W środku

block styles
    link(rel="stylesheet" href="/css/main.css")

block sliderContent
    include layouts/slider-layout